In [30]:
import pandas as pd
import os
import re

In [57]:
def build_df_frequences_size_groupes(date):

    df = pd.read_csv('./data/data_seating_' + date + '.csv')

    df['taille'] = df['Femmes'] + df['Hommes'] + df['Enfants'] + df['WCHR']

    return df.groupby('taille')['Femmes'].count()

In [32]:
def get_list_dates_input():
    """Renvoie la liste des dates des instances fournies dans le dossier "data".
    """

    pattern = '^data_seating_([a-zA-Z0-9]*).csv$'

    # dates_avion est undictionnaire dont les clés sont les dates des instances et
    # dont les clés sont des string donnant l'avion choisi
    list_dates = []

    for filename in os.listdir('data'):
        ans = re.findall(pattern=pattern, string=filename)

        if len(ans) == 1: # Sanity check pour vérifier qu'on a bien une solution...
            list_dates.append(ans[0])

    # Test pour vérifier si on arrive ou non à récupérer des données
    assert len(list_dates) != 0, 'Pas de données correctes trouvées dans le dossier "data" !'

    return list_dates

In [40]:
list_dates = get_list_dates_input()

In [53]:
def build_table_all_instances(list_dates, build_df_frequences_size_groupes):

    df = pd.DataFrame(columns = ['date', 'value'])

    for date in list_dates:
        print(date)
        value = build_df_frequences_size_groupes(date)
        df_aux = pd.DataFrame({'date': [date], 'value': [value]})
        print(df_aux)
        df = pd.concat([df, df_aux], axis = 0)

    return df

In [55]:
df = build_table_all_instances(list_dates, build_df_frequences_size_groupes)

10Nov
    date  value
0  10Nov   24.2
8Nov
   date  value
0  8Nov  23.75
12Nov
    date  value
0  12Nov   12.0
6Nov
   date  value
0  6Nov    4.0
16Nov
    date  value
0  16Nov  6.625
14Nov
    date      value
0  14Nov  11.285714
11Nov
    date   value
0  11Nov  11.375
7Nov
   date  value
0  7Nov  27.75
17Nov
    date      value
0  17Nov  12.714286
15Nov
    date  value
0  15Nov    7.0

In [69]:
df

    date      value
0  10Nov  24.200000
0   8Nov  23.750000
0  12Nov  12.000000
0   6Nov   4.000000
0  16Nov   6.625000
0  14Nov  11.285714
0  11Nov  11.375000
0   7Nov  27.750000
0  17Nov  12.714286
0  15Nov   7.000000

In [67]:
build_df_frequences_size_groupes('17Nov')

taille
1    50
2    22
3     8
4     3
5     4
6     1
7     1
Name: Femmes, dtype: int64