In [3]:
import pandas as pd

from utils_static import *
from utils_dynamic import *

In [4]:
def coordToSiege(x,y):
    gapRangee = 0
    
    if AVION == "A320":
        
        if x > 12:
            gapRangee = 1
            
    elif AVION == "A321":
        
        if x >= 10 and x <= 13:
            gapRangee = -1
        elif x >= 24:
            gapRangee = -1
        
    lettre = ""
    if y == 1:
        lettre = "A"
    elif y == 2:
        lettre = "B"
    elif y == 3:
        lettre = "C"
    elif y == 5:
        lettre = "D"
    elif y == 6:
        lettre = "E"
    elif y == 7:
        lettre = "F" 
    return str(x+gapRangee)+lettre

In [11]:
date = "7Nov"
AVION = "A321"

df_input = read_and_preprocess(date)
df_input

     Femmes  Hommes  Enfants  WCHR Classe TransitTime
0         0       1        0     0      Y    01:15:00
1         1       0        0     0      Y    00:00:00
2         0       1        0     0      Y    00:00:00
3         1       0        0     0      Y    00:00:00
4         0       2        0     0      Y    05:25:00
..      ...     ...      ...   ...    ...         ...
106       1       0        0     0      Y    03:30:00
107       2       0        0     0      Y    05:25:00
108       2       0        0     0      Y    05:25:00
109       2       0        0     0      Y    01:35:00
110       0       1        0     0      Y    01:00:00

[111 rows x 6 columns]

In [12]:
placements = {
  (0, 0): (14, 3),
  (1, 0): (14, 2),
  (2, 0): (12, 1),
  (3, 0): (6, 2)
}

In [14]:
list_categories = ["Femmes", "Hommes", "Enfants", "WCHR"]
categorie_to_poids = {"Femmes": 65, "Hommes": 80, "Enfants": 35, "WCHR": 70}
data = []

for id_groupe, row in df_input.iterrows(): # Pour chaque ligne de notre instance de départ...
    idx_passager = 0 # compte le numéro du passager dans le groupe
    
    for categorie in list_categories:
        for _ in range(row[categorie]): # Pour chaque passager du groupe et pour chaque catégorie...
            
            if (id_groupe, idx_passager) in placements: # Si le passager en question a déjà été placé...
                # On récupère les coordonnées de la place choisie :
                x, y = placements[(id_groupe, idx_passager)]
                
                passager_dict = {
                    "ID Groupe": id_groupe,
                    "ID Passager": idx_passager,
                    "Catégorie": categorie,
                    "Classe": row["Classe"],
                    "Transit Time": row["TransitTime"],
                    "Poids": categorie_to_poids[categorie],
                    "x": x,
                    "y": y,
                    "Siège": coordToSiege(x,y)
                }

                data.append(passager_dict)
            
            else:
                pass
                
            idx_passager += 1

df_output = pd.DataFrame.from_records(data)
df_output

   ID Groupe  ID Passager Catégorie Classe Transit Time  Poids   x  y Siège
0          0            0    Hommes      Y     01:15:00     80  14  3   14C
1          1            0    Femmes      Y     00:00:00     65  14  2   14B
2          2            0    Hommes      Y     00:00:00     80  12  1   11A
3          3            0    Femmes      Y     00:00:00     65   6  2    6B